<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
  <div class="container" >

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" id="form-div" style="background-color: #53b6cf;padding: top 0px">
        <h3 style="padding-bottom: 12px; color: white;font-weight: bolder;" class="text-center">Inventory Management System</h3>
        <form style="color: white;">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name" 
            [(ngModel)]="name" (click)="status=false" name="name" required>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" 
            [(ngModel)]="email" (click)="status=false" name="email" required>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
            [(ngModel)]="password" (click)="status=false" type="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="inputphone">Phone No.</label>
            <input type="number" class="form-control" id="inputphone" placeholder="Phone"
            [(ngModel)]="phone" (click)="status=false" name="phone" required>
          </div>
          <div class="form-group">
            <label for="inputCountry">Country</label>
            <input type="text" class="form-control" id="inputCountry" placeholder="Country"
            [(ngModel)]="country" (click)="status=false" name="country" required>
          </div>
          <div class="form-group">
            <label for="inputAge">Age</label>
            <input type="number" class="form-control" id="inputAge" placeholder="Age"
            [(ngModel)]="age" (click)="status=false" name="age" required>
          </div>
          <div class="form-group" *ngIf="status" style="color: darkred;" id="message"><span style="font-size: medium;">Wrong credentials</span> </div>
          <button type="submit" class="btn btn-secondary" style="width: max-content;" (click)="onSubmit()"><span style="color:black;">Register</span></button>
        </form>
      </div>
    </div>
  </div> 
</body>






